@page
@model KareAjans.Pages.Contracts.IndexModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/colorlib-regform-3/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/colorlib-regform-3/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/colorlib-regform-3/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/colorlib-regform-3/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/colorlib-regform-3/css/main.css" rel="stylesheet" media="all">
    <style>
        tr {
            color: white;
        }
    </style>
</head>

<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">



            <div class="px-4 py-5 rounded text-white">
<h1>Contracts</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-group">
        <input class="form-control my-2" type="text" placeholder="Search for contracts by actor/staff name..." name="SearchString" value="@Model.CurrentFilter" />
        <input type="submit" value="Search" class="btn btn-primary mr-2" />
        <a asp-page="./Index" class="my-auto">Back to list</a>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@(Model.CurrentSort == "Actor" ? "Actor_desc" : "Actor")" asp-route-searchString="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Contract[0].Actor)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@(Model.CurrentSort == "ManagingStaff" ? "ManagingStaff_desc" : "ManagingStaff")" asp-route-searchString="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Contract[0].ManagingStaff)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@(Model.CurrentSort == "StartDate" ? "StartDate_desc" : "StartDate")" asp-route-searchString="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Contract[0].StartDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@(Model.CurrentSort == "EndDate" ? "EndDate_desc" : "EndDate")" asp-route-searchString="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Contract[0].EndDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@(Model.CurrentSort == "TotalPrice" ? "TotalPrice_desc" : "TotalPrice")" asp-route-searchString="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Contract[0].TotalPrice)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contract)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Actor, "ActorTemplate")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagingStaff, "StaffTemplate")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
